@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body {
    margin: 0;
    padding:0;
}

#logo {
    background-image: url(alt1.gif);
    height: 100px;
}

#navigation{
    background-color: white;
    height: 30px;
    margin-top: 5px;
}


.Filterbar_Container_Link{
    font-family: 'El Messiri', sans-serif;
}

#header {
    background-color: rgb(53,53,53);
    height: 120px;
    margin-top: 10px;
}

#body{
    background-color: rgb(53,53,53);
    height: 400px;
    margin-top: 10px;
}

#foot{
    background-color: rgb(53,53,53);
    height: 30px;
    margin-top: 10px;
}