@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    margin: 0;
    padding:0;
}

#logo {
    background-repeat: no-repeat;
    height: 225px;
    margin-left: 50px;
    border:5px; 
}

#logotitle
{
    text-align: center;
    font-size:40px;
    color:black;
    font-weight:bold;
    text-shadow:1px 1.5px grey;
    height: 1px;
}

#navigation{

    background: url(japanwallpaperlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    margin-top: 5px;
}

.Filterbar{
    float:left;
    margin-left: 320px;
}

.Filterbar_Container_Link{
    margin-left: 20px;
    font-family: 'El Messiri', sans-serif;
    text-decoration: none;
}

#Dot > img{
    height: 140px;
    width: 140px;
    margin-left: 665px;
    margin-top: 25px;
    float:left;
}


#body{
    background: url(BLOMMA.gif);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: 10px;
}

#foot{

    height: 30px;
    margin-top: 10px;
}
.Filterbar_Container{
    background: url(japanwallpaperlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}
#Culture{
    font-size: 30px;
    margin-left: 40px;
    text-shadow:1px 1.5px grey;
    float:left;
}
#Tradition{
    font-size: 30px;
    float:left;
    margin-left: 180px;
    text-shadow:1px 1.5px grey;

}
#Sights{
    font-size: 30px;
    float:left;
    margin-left: 200px;
    text-shadow:1px 1.5px grey;

}
#boxuno{
    border:2px solid white;
    background-color: lightpink;
    margin:1%;
    width:20%;
    height: 50vh;
    margin-left:200px;
    background: url(toronagashi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#boxdos{
    border:2px solid white;
    background-color: violet;
    margin:1%;
    margin-left:980px;
    margin-top: 500px;
    width:20%;
    height: 50vh;
    float:left;
    background: url(bowing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#boxtres{
    border:2px solid white;
    background-color: thistle;
    margin:1%;
    margin-left: 200px;
    margin-top: 1000px;
    width:20%;
    height: 50vh;
    float:none;
    background: url(onsen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bodytradition{
background-size: cover;
background: url(wallpaper.jpg) no-repeat center center fixed;
background-repeat: no-repeat;


}
#bodygif{
    background-color: red;
    float:left;
}
#bodysights
{
background-size:cover;
}
#himeji
{
width:50%;
text-align:center;
margin-left:25%;
margin-bottom:5%;
}
#fuji
{
    width:50%;
    text-align:center;
    margin-left:25%;
    margin-bottom:5%;
}
#zao
{
    width:50%;
    text-align:center;
    margin-left:25%;
    margin-bottom:5%;    
}
#tokyo
{
    width:50%;
    text-align:center;
    margin-left:25%;
    margin-bottom:5%;   
}
#kyoto
{
    width:50%;
    text-align:center;
    margin-left:25%;
    margin-bottom:5%;   
}
#endsights
{
    width:50%;
    text-align:center;
    margin-left:25%; 
}
#traditionpic{
    
    border:2px solid white;
    background-color: lightpink;
    width:230px;
    height: 30vh;
    float:center;
    background: url(traditionpict.jpg);
    border-radius: 50%;
}
#culturepic{
    border:2px solid white;
    background-color: lightpink;
    margin-left: 1px;
    margin-top: 40px;
    width:230px;
    height: 30vh;
    float:left;
    background: url(traditionpict.jpg);
    border-radius: 50%;
}
#sightspic{
    border:2px solid white;
    background-color: lightpink;
    width:230px;
    height: 30vh;
    margin-right: 10px;
    margin-top: 40px;
    float:left;
    background: url(traditionpict.jpg);
    border-radius: 50%;
}