@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body {
    margin: 0;
    padding:0;
}

#logo {
    background-image: url(alt1.gif);
    height: 100px;
    border:5px;
    border-style:solid;
}

#logotitle
{
text-align:center;
font-size:65px;
color:black;
font-weight:bold;
text-shadow:1px 1.5px red;
position:relative;
bottom:30px;
}

#navigation{
    background-color: white;
    height: 30px;
    margin-top: 5px;
}

.Filterbar{
    text-align: center;
}

.Filterbar_Container_Link{
    margin-left: 20px;
    font-family: 'El Messiri', sans-serif;
    text-decoration: none;
}

#header {
    background-color: lightblue;
    height: 130px;
    margin-top: 20px;
}

#body{
    background-color: rgb(53,53,53);
    height: 400px;
    margin-top: 10px;
}

#foot{
    background-color: rgb(53,53,53);
    height: 30px;
    margin-top: 10px;
}
.Filterbar_Container{
    background-color: lightblue;
    height: 100px;
}
#Culture{
    font-size: 30px;
    margin-left: 10px;
    text-shadow:1px 1.5px grey;
    float:left;
}
#Tradition{
    font-size: 30px;
    float:left;
    margin-left: 20px;
    text-shadow:1px 1.5px grey;

}
#Sights{
    font-size: 30px;
    float:left;
    margin-left: 20px;
    text-shadow:1px 1.5px grey;

}